$primary-color: #17001f;
$button-primary: #C77DFF;
$main-font: 'Inter';
$background-one: #111111;
$background-two: #646464;
$feature-text: #beb7b7;
$feature-header: #633c92;
$background-three: #555555;