#features-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: $background-two;
  text-align: center;
  h1 {
    margin: 20px 0;
    font-size: 50px;
  }
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  img {
  width: 650px;
  border-radius: 5px;
  }
}

.feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  min-height: 300px;
  height: 70%;
  margin-right: 50px;
  // background-color: $feature-text;
  border-radius: 10px;
  h2 {
    color: $feature-header;
    font-size: 30px;
    margin-bottom: 15px;
  }
  p {
    margin: 0 20px;
    text-align: center;
    font-size: 18px;
  }
}

