#features-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: $background-two;
  text-align: center;
}

.feature {
  display: flex;


  img {
  width: 650px;
  }
}