#landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  background-color: $background-one;
  h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.618);
    width: 80%;
  }
  #main-logo{
    border-radius: 10%;
    border-color: transparent;
    z-index: 999;
  }
  #main-logo-glow{
    width: 100%;
    z-index: 998;
    position: absolute;
    top: 50%;
    box-shadow: 0 0 100px 100px rgb(121, 136, 219);
    opacity: 40%;
  }
  #main-logo-container{
    position: relative;
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

#downloads-container {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 2rem;
  a {
    text-decoration: none;
  }
  .download{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 250px;
    background-color: #0cb3ee;
    color: white;
  }
}

.download-content{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  img {
    width: 40px;
  }
  p{
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
}


a:hover{
  cursor: pointer;
  text-decoration: underline;
}


