#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  margin-top: 80px;
  background-color: $background-one;
  h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.735);
    width: 90%;
    font-size: max(1.75vw, 0.95rem);
  }
  #main-logo {
    border-radius: 10%;
    border-color: transparent;
    width: 90%;
    z-index: 999;
    align-items: center;
  }
  #main-logo-glow {
    width: 90%;
    z-index: 998;
    position: absolute;
    top: 50%;
    box-shadow: 0 0 100px 40px rgb(121, 136, 219);
    opacity: 40%;
  }
  #main-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 2s;
    margin-bottom: 5rem;
  }
  #main-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, -50%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

#downloads-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  a {
    text-decoration: none;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.8em;
    font-size: max(1vw, 0.8rem);
    max-width: 15em;
    // background-color: #0cb3ee;
    background-color: $button-primary;
    // color: white;
    margin: 0 5rem;
    text-align: center;
    max-height: 100%;
    .download-content {
      .download-img-container {
        display: flex;
        align-items: center;
        height: 25%;
        width: 25%;
        img {
          width: 90%;
          height: auto;
        }
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .download:hover {
    cursor: pointer;
  }
}

// @media screen and (max-width: 650px) {
//   #downloads-container {
//     display: flex;
//     align-items: center;
//     width: 90%;
//     justify-content: center;
//     margin-top: 2rem;
//     a {
//       text-decoration: none;
//     }
//     .download {
//       border: 1px solid black;
//       margin: 0.5em;
//       font-size: 2rem;
//       border-radius: 10px;
//       padding: 1rem;
//       width: 15em;
//       background-color: #0cb3ee;
//       color: white;
//     }
//   }
// }

.download-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  img {
    width: 40px;
  }
  p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}