nav {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;


}

#menu-items{
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style-type: none;
  position: absolute;
  background-color: gray;
  li {
    font-size: 2rem;
    margin: 0.5rem; 
    color: white;
  }
  li:hover{
    font-weight: bolder;
    text-decoration: none;
  }
}

#ext-links-container{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.checkbox{
  position: absolute;
  top: 5;
  right: 20px;
  height: 32px;
  width: 32px;
  z-index: 1005;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines{
  width: 32px;
  height: 26px;
  position: absolute;
  top: 5;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1004;
  .line{
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }
}

.line1{
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line2{
  transition: transform 0.2s ease-in-out;
}
.line3{
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}


#logo {
  margin-left: 20px;
  width: 350px;
}

.ext-links {
  width: 30px;
  height: 30px;
}