#team-section {
  display: flex;
  background-color: $background-one;
  flex-direction: column;
  width: 100%;
  h1 {
    margin: 10px 0;
    text-align: center;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 3rem;
  }
}

#team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #865BBC;
  margin: 1rem;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile {
    width: 50%;
    height: auto;
    border-radius: 50%;
  }
  img {
    width: 30px;
    height: 30px;
  }
  h3 {
    margin-top: 10px;
    font-size: 20px;
  }
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  a {
    margin: 0 20px;
  }
}
